<%= form_for ([@event, @event.topics.build]) do |f| %>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.text_field :body, class: "form-control" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>