<div>
<h2>Comments</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= :username %></th>
      <th><%= :body %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%=User.find_by(id:topic.user_id).username%>: </td>
        <td><%=topic.body%></td>
     
        <td><%= link_to like_event_topic_path(@event, topic.id), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          Upvote
          <%= topic.get_upvotes.size %>
          <% end %>
        <%= link_to dislike_event_topic_path(@event, topic.id), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down">
          Downvote
          <%= topic.get_downvotes.size %>
        <% end %>
        </td>
        <td>
        <% if topic.user == current_user -%>
          <div class="btn-group">
          <%= link_to 'Edit', edit_event_topic_path(@event, topic), class: "btn btn-default" %>
          <%= link_to 'Destroy', event_topic_path(@event, topic), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
          </div>
        <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
</div>