<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => Event %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:event_name) %></dt>
      <dd><pre class="prettyprint"><%= @event.event_name %></pre></dd>
  </dl>
</div>

<div> <%= render 'topics/form' %></div

<div>
<h2>Chats</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th><%= model_class.human_attribute_name(:username) %></th>
			<th><%= model_class.human_attribute_name(:body) %></th>
		</tr>
	</thead>
	<tbody>
		<% @user.topics[0..-2].each do |topic| %>
		<tr>
			<td><%=@user.username%>: </td>
			<td><%=topic.body%></td>
		</tr>
	<%end%>
	</tbody>
</table>
</div>


<div> <%=render 'alerts/form' %> </div>

<div>
<h2>Alerts</h2>
<p><% @event.alerts[0..-2].each do |alert| %></p>
<p><%=link_to alert.id, [@event, alert]%></p>
<%end%>
</div>